/* 
font-family: 'Work Sans', sans-serif;
 */

@font-face
{
    font-family: LarishNeue;
    src: url(../fonts/Larish\ Neue\ Semibold.woff2)
}


body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}
.black-top
{
    background-color: #000;
    position: relative;
}
.vertical-line 
{
    display: flex;
    justify-content: center;
    align-items: center;


}

.vertical-line img
{
    width: 1px;
    height: 200px;


}

.california-text-top
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.california-text-top div:nth-child(1)
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.california-text-top h3
{
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    padding-top: 40px;
    font-size: 17px;

}
.california-text-top h1
{
    font-family: LarishNeue;
    color: #fff;
    font-size: 60px;
    padding: 0;
    margin: 0;
    height: 50px;
}
.california-text-top h1:nth-of-type(2)
{
    color: #000;
    -webkit-text-stroke: 1px #fff;

}
.california-text-top p
{
    color: #fff;
}


.bear-and-button
{

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 8%;
}


.bear-and-button button
{
    background: none;
    border: 1px solid #fff;
    color: #fff;
    width: 12%;
    padding: 10px 30px;
}
.bear-and-button button:hover
{
    background-color: #fff;
    color: #000;
}
.bear-and-button img {
    width: 7%;
}
.paragraph-black-top
{
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-left: 8%;
    margin-bottom: 8%;

}
.paragraph-black-top p
{
    font-family: LarishNeue;
    font-size: 60px;
    width: 50%;


}

.statistics-container img
{
    width: 30%;


}
.paragraph-black-top h3{
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 0;;

}
.paragraph-black-top h1{
    font-family: LarishNeue;
    font-size: 60px;
    margin-top: 0;
}
.statistics-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 8%;
}
.imgPrinter {
    width: 22%;
    transform: translate(1000px, 130px);   
} 

.stuck-middle-container{
    display: block;
}
.img-action2
{
    width: 23%;
    margin-left: 7%;
    margin-top: 19%;


}


.stuck-middle-text h2
{
    width: 34%;
    font-size: 100px;
    margin: auto 36% ;
}

.stuck-middle-text  p
{
    font-family: 'Work Sans', sans-serif;
    color: #000;
    width: 44%;
    font-weight: bolder;
    font-size: 22px;
    
    margin: 0 36%;
} 
.img-action3
{
    margin-left: 77%;
    margin-top: 100px;
    width: 23%;

   
}
.img-action4
{
    
    margin-left: 15%;
    width: 24%;

 
}
.img-action5
{
    margin-left: 65%;
    margin-top: -50px;
    margin-bottom: 75px;
    width: 23%;


      
}
.secondary-para
{
    font-family: 'Work Sans', sans-serif;
    width: 37%;
    line-height: 32px; 
    font-size: 22px;
    margin: 0 auto;
}

.img-action6
{
    width: 60%;
    margin-top: -200px;
    margin-bottom: 47%;
    margin-left: -80%;
    padding-left: 0;

}
.img-action7
{
    width: 70%;
    margin-left: 50%;
    margin-bottom: 70px     
}
.golden-bear
{
    background-color: #000;
    color: #fff;
}
.golden-bear-header
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-top: 12%;
    padding-left: 12%;
}
.golden-bear-header div:nth-child(1) h2
{

    font-size: 80px;
    margin: 0;

}

.golden-bear-para p
{
    font-family: LarishNeue;
    width: 58%;
    font-size: 30px;
    padding-left: 300px;
    margin: 0;
}
.golden-bear-para h5
{
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    padding-left: 300px;



}
.golden-bear img:nth-child(1)
{
    width: 50%;
    margin-bottom: -100px;
    margin-left: 60px;
    margin-top: 90px;

}
.golden-bear img:nth-child(2)
{


    width: 25%;
    margin-left: -70px;
    margin-top: 90px;
    margin-bottom: -70px;
}

.call-corner div
{
    position: relative;
}
.call-corner img{
    position: absolute;
    left: 80%;
    top: -120px;
    width: 500px;
    animation: corner 10s linear infinite ;
}
  @keyframes corner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
.the-poppy
{

    margin-top: 10%;
   


}
.the-poppy-flex-box
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.the-poppy-flex-box h5
{
    font-size: 20px;
    margin-top: 90px;
    font-family: 'Work Sans', sans-serif;


}
.the-poppy-flex-box h2
{
    font-size: 80px;
    margin: 0;
    font-family: LarishNeue;

}
.the-poppy-flex-box p
{   
    font-size:30px;
    padding-left: 25%;
    width: 60%;
    font-family: LarishNeue;
}
.the-poppy-flex-box div
{
    padding-top: 25%;
    padding-left: 10%;
}
.the-poppy-flex-box h3
{
    font-family: 'Work Sans', sans-serif;
    padding-left: 25%;
}
.the-poppy img:nth-of-type(1){
    position: relative;
    padding-top: 20%;
    margin-bottom: 80px;
    width: 25%;
    left: 15%;
   

}
.the-poppy img:nth-of-type(2)
{
    width: 50%;
    margin-left: 120px;
}

footer
{
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.calendar 
{
    position: relative;
    transform: rotate(40deg);
    background-color: #fff;
    width: 80%;
    top: 20px;
    left: 550px;
    height: 100px;
   
}
.calendar  p{

    color: #000;
    font-family: LarishNeue;
    font-size: 80px;
    animation: cornerCalendar 5s linear infinite;
}
.calendar span
{
    -webkit-text-stroke: 1px #000;

    color: #fff;
    font-family: LarishNeue;
}
@keyframes cornerCalendar {
    0% {
        transform: translateX(0)
      }
   
    50% {
      transform: translateX(50px)
    }
    100% {
        transform: translateX(0)
      }
}
.join-us
{   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;


}
.join-us p
{
    width: 49%;
    font-size: 50px;
}
.join-us button
{
    background: none;
    border: 1px solid #fff;
    color: #fff;
    width: 12%;
    padding: 10px 30px;
}

.join-us button:hover
{
    background-color: #fff;
    color: #000;
}
.sosial-cross-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sosial-container
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.sosial
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 90px;
    padding-top: 90px;
}
.sosial ul {
    padding: 0;
}
.sosial ul li
{
    display: inline;
    list-style: none;
    padding-right: 10px;
    margin: 0;
    padding-left: 0;
}
.sosial ul li img
{
    width: 30px
}

.sosial h4
{

    font-family: 'Work Sans', sans-serif;
    line-height: 0;

}
.cross div h3
{
    color: #000;
    font-family: 'Work Sans', sans-serif;
    line-height: 11px;
    background-color: #fff;
    font-size: 12px;
    width: 69px;
    padding-left: 5px;
    margin-top: -15px;
}

.cross
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}
.cross h3:nth-child(1)
{
    width: 30px;
}
.crossh3:nth-child(3)
{
    width: 50px;
}
.cross h3:nth-child(4)
{
    width: 40px;
}
.red-cross-logo
{
    width: 100px;
    margin-right: 90px;
}